.game {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.board {
  margin: 10px;
}

.cell {
  border: 1px;
  border-style: solid;
  background-color: white;
  height: 50px;
  width: 50px;
  float: left;
  font-size: large;
}

.game-info{
  margin: 10px;
}
